<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/LayoutPadrao">
	
    <head>
        <title>Antenados - Salários</title>
    </head>

    <body>
        <section layout:fragment="conteudo">       
            <div class="content">
                <div class="header">
                    <div class="container-fluid">
                        <h1>
                            Salários
                        </h1>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="table-responsive">
                        <table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
                            <thead class="aw-table-header-solid">
                                <tr>
                                    <th>ID</th>
                                    <th>ID Servidor</th>
                                    <th class="table-pesq-produto-col-preco">Valor</th>
                                    <th class="table-pesq-produto-col-estoque">Descrição</th>
                                    <th class="table-pesq-produto-col-status">Tipo</th>
                                    <th class="table-pesq-produto-col-status">Período</th>
                                    <th class="table-pesq-produto-col-acoes">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="salario : ${salarios}">
                                    <td th:text="${salario.id}"></td>
                                    <td th:text="${salario.id_servidor}"></td>
                                    <td th:text="'R$ ' + ${#numbers.formatDecimal(salario.valor, 1, 'POINT', 2, 'COMMA')}"></td>
                                    <td th:text="${salario.descricao}"></td>
                                    <td th:text="${salario.id_lancamento == 1} ? 'Rendimento' : 'Desconto'"></td>
                                    <td th:text="${#dates.format(salario.referencia, 'MMMM/yyyy')}"></td>
                                    <td class="table-pesq-produto-col-acoes">
                                        <div class="btn-group">
                                            <button class="btn  btn-default btn-xs">
                                                <a class="" href="#">+</a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12  col-md-4  aw-text-xs-center  aw-text-md-right">
                        <span class="aw-pagination-info" th:text="${#lists.size(salarios)} + ' salário(s) encontrado(s).'"></span>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>