<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
    
    <head>
        <title>Antenados - Login do Administrador</title>
       
    </head>
    
    <body>
        <th:block layout:fragment="conteudo">
            <div class="login-box-panel-position">    
                <div class="login-box-panel">
                    <div class="login-box-panel-title">Login</div>

                    <div class="login-box-mensagem">
                            Por favor, faça o login.
                    </div>

                    <div class="login-box-mensagem-error is-error alert alert-danger fade in alert-dismissible" th:if="${#bools.isTrue(param.error)}">
                            O usuário e/ou senha não conferem.
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    </div>

                    <div class="login-box-mensagem-disconnect alert alert-success fade in alert-dismissible" th:if="${#bools.isTrue(param.logout)}">
                            Você foi desconectado.
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    </div>

                    <form th:action="@{/login}" method="post">
                        <div class="login-box-panel-label-user">Nome de usuário:</div>
                        <div class="login-box-textfield-user-div">
                            <input name="username" placeholder="Usuário" type="text" class="login-box-textfield-user"/>
                        </div>
                        
                        <div class="login-box-panel-label-senha">Senha:</div>
                        <div class="login-box-textfield-password-div">
                            <input name="password" placeholder="Ssenha" type="password" class="login-box-textfield-password"/>
                        </div>

                        <button type="submit" class="login-box-button-access">Acessar</button> 
                    </form>

                </div>
            </div>    
        </th:block>  
    </body>
</html>
