<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/LayoutPadrao">
	
    <head>
        <title>Antenados</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="container-fluid">
                <div class="table-responsive">
                    <img alt="Antenados" th:src="@{/layout/images/logo+slogan.png}"/>
                </div>
            </div>
        </section>
    </body>
</html>