<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/LayoutPadrao">
	
    <head>
        <title>Antenados</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="container-fluid  index">
                <div class="row  index-row">
                    <div class="col-sm-12  index-row-brand">
                        <img class="img-responsive  center-block" alt="Antenados" th:src="@{/layout/images/logo-slogan.png}"/>
                    </div>
                </div>
                
                <div class="table-responsive">
                    <div class="col-sm-12 height-50"></div>
                    
                    <div class="col-sm-3"></div>
                    
                    <div class="col-sm-6">
                        <form class="form-vertical  col-sm-12" action="/servidores">
                            <div class="form-group">
                                <div class="col-sm-2  aw-text-sm-left">
                                    <span>Mês de refência:</span>
                                </div>

                                <div class="col-sm-3  aw-text-sm-center">
                                    <select class="btn btn-primary  padding-6dot5-12" name="data">
                                        <option>Data</option>
                                        <option value="1">Jan/2020</option>
                                        <option value="2">Fev/2020</option>
                                        <option value="3">Mar/2020</option>
                                        <option value="4">Abr/2020</option>
                                        <option value="5">Jun/2020</option>
                                        <option value="6">Jul/2020</option>
                                        <option value="7">Ago/2020</option>
                                        <option value="8">Set/2020</option>
                                        <option value="9">Out/2020</option>
                                        <option value="10">Nov/2020</option>
                                        <option value="11">Dez/2020</option>
                                    </select>
                                </div>
                                
                                <div class="col-sm-2  aw-text-sm-left">
                                    <span>Faixa Salarial: </span>
                                </div>

                                <div class="col-sm-5  aw-text-sm-right">
                                    <select class="btn btn-primary padding-6dot5-12" name="data">
                                        <option>Salário</option>
                                        <option value="1">R$0,00 - R$1.000,00</option>
                                        <option value="2">R$1.000,01 - R$2.000,00</option>
                                        <option value="3">R$2.000,01 - R$3.000,00</option>
                                        <option value="4">R$3.000,01 - R$4.000,00</option>
                                        <option value="5">R$4.000,01 - R$5.000,00</option>
                                        <option value="6">R$5.000,01 - R$7.500,00</option>
                                        <option value="7">R$7.500,01 - R$10.000,00</option>
                                        <option value="8">R$10.000,01 - R$12.500,00</option>
                                        <option value="9">R$12.500,01 - R$15.000,00</option>
                                        <option value="10">R$15.000,01 - R$20.000,00</option>
                                        <option value="11">R$20.000,01 - R$30.000,00</option>
                                        <option value="12">R$30.000,01 - R$40.000,00</option>
                                        <option value="13">R$40.000,01 - R$50.000,00</option>
                                        <option value="14">R$50.000,01 +</option>
                                    </select>
                                </div>

                                <div class="col-sm-12  height-10"></div>

                                <div class="col-sm-12">
                                    <div class="btn-group btn-group-justified">
                                        <a id="search-cargo" class="btn btn-primary" th:classappend="active">Nome</a>
                                        <a id="search-salario" class="btn btn-primary" >Cargo</a>
                                        <a id="search-salario" class="btn btn-primary" >Regime</a>
                                    </div>
                                </div>

                                <div class="col-sm-12  height-10"></div>

                                <div class="col-sm-12  index-search">
                                    <input id="main-search" placeholder="Pesquisar termo . . ." name="exemplo" type="text" class="form-control"/>
                                    <button class="btn btn-primary  fa  fa-search" type="submit"></button>
                                </div>
                            </div>
                        </form>
                     </div>
                    
                    <div class="col-sm-3"></div>

                    <div class="col-sm-12  height-10"></div>
                    
                </div>
                    
                <div class="table-responsive"> 
                    <div class="col-sm-12 aw-text-sm-center">
                            <h2>Pesquisas recomendadas:</h2>
                        </div>
                    
                    <form class="form-vertical" action="/servidores">
                        <div class="form-group">
                            <div class="col-sm-12  aw-text-sm-center">
                                <button class="btn btn-success margin-4" type="submit">Maior salário</button>
                                <button class="btn btn-success margin-4" type="submit">Prefeito</button>
                                <button class="btn btn-success margin-4" type="submit">Maior desconto</button>
                                <button class="btn btn-success margin-4" type="submit">Pesquisa programada 4</button>
                                <button class="btn btn-success margin-4" type="submit">Pesquisa programada 5</button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </section>
    </body>
</html>